@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: #060318;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
  display: flex;
  flex-direction: column;
  align-items: center;
}
